<!DOCTYPE html>
<html>
  <head>
    <title>ZCard</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= render "shared/navbar" %>
 <%# partial render %>
  <%= render "shared/notice" if flash[:notice] %>
  <section class="main-section">
    <%= yield %>
    </section>
  </body>
</html>
